:root
{
    --morado-claro:#a663ff;
    --morado-oscuro:#786de7;
    --verde:#00cf67;
    --negro-primario:#1c1c1c;
    --negro-de-resalte:hsla(237, 28%, 43%, 0.26);
}
html
{
    min-height: 100%;
    position: relative;
}
body
{
    background-color: var(--negro-primario);
    font-family: 'Atkinson Hyperlegible';
    color: var(--morado-claro);
    text-align: center;
    margin-top: 13rem;
    font-size: 1.8rem;
}
img
{
    width: 3rem;
    display: flex;
    margin-left: 1rem;
}
div.h1
{
    width: 29rem;
    margin: auto auto -2.3rem auto;
    text-align: center;
    display: flex;
}
.svg
{
    fill: var(--morado-claro);
}
.script
{
    font-family: 'Space Mono';
    font-size: 0.9rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
}
span
{
    font-family: 'Space Mono';
    font-size: 0.9rem;
    margin-bottom: 3rem;
    display: block;
    color: var(--morado-oscuro);
    text-align: center;
}
canvas
{
    margin-bottom: -4rem;
}
#botón
{
    color:var(--morado-oscuro);
    font-weight: 550;
    font-family: 'Inter';
    border-style: none;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    background-color: var(--negro-de-resalte);
    text-align: center;
    vertical-align: middle;
}
#botón:hover
{
    font-family: 'Inter';
    background-color: var(--verde);
    font-weight: 900;
    color: var(--morado-claro);
}
#texto_cariño
{
    font-family: 'Space Mono';
    border-radius: 3rem;
    text-align: center;
    background-color: var(--negro-de-resalte);
    width: 6rem;
    height: 2rem;
    color:var(--verde);
    border-style: none;
    vertical-align: middle;
}
::selection
{
    background:#5555FF;
    color:#D0E0FF;
}
 
::-moz-selection
{
    background: #5555FF;
    color:#D0E0FF;
}
 
::-webkit-selection
{
    background:#5555FF;
    color:#D0E0FF;
}