body
{
    background-color: #1c1c1c;
    font-family: 'Atkinson Hyperlegible';
    /*color: #786de7;*/
    color: #a663ff;
    text-align: center;
    margin-top: 15rem;
    font-size: 1.8rem;
}
img
{
    width: 3rem;
    display: flex;
    margin-left: 1rem;
}
h1
{
    display: flex;
}
div.h1
{
    width: 29rem;
    margin: auto auto -1.5rem auto;
}
.svg
{
    fill: #a663ff;
}
.script
{
    font-family: 'Space Mono';
    font-size: 0.9rem;
    margin-top: 2rem;
}
canvas
{
    margin-bottom: -4rem;
}
#botón
{
    color:#a663ff;
    font-weight: 550;
    font-family: 'Atkinson Hyperlegible';
    background-color: #1c1c1c;
    border-style: none;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    background-color: hsla(237, 28%, 43%, 0.26);
    text-align: center;
    vertical-align: middle;
}
#botón:hover
{
    background-color: #00cf67;
    font-weight: 900;
}
#texto_cariño
{
    font-family: 'Space Mono';
    border-radius: 3rem;
    text-align: center;
    background-color: hsla(237, 28%, 43%, 0.26);
    width: 6rem;
    height: 2rem;
    color:#00cf67;
    border-style: none;
    vertical-align: middle;
}